body{
    background-color: rgb(231, 231, 255);
}
h1{
    text-align: center;
    font-size: 50px;
}
@media(max-width: 999px){
    .container{
        margin: 0% 10% auto;
        padding: 10px;
        height: 20rem;
    }
    button{
        height: 60px;
        width: 20%;
    }
}
@media(min-width: 999.1px){
.container{
    margin: 0% 20% auto;
    padding: 10px;
    height: 40rem;
}
button{
    height: 50px;
    width: 10%;
}
}
.slide{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 10px 10px 2px  rgba(0,0,0,0.2);
}
button{
    margin-top: 1%;
    margin-left: 45%;
    box-shadow: 8px 8px 2px;
    border-radius: 10px;
    background-color: rgb(137, 168, 252);
    border: none;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
button:hover{
    background-color: rgb(44, 92, 224);
}
.resume{
    display: none;
}